<li class="bold <%= (list.id == listCurrent.id )? 'active' : '' %>" data-name="<%=list.name %>" data-nav-list-id="<%=list.id %>">
  <a id="<%= list.id %>" href="#" data-href= "<%=list_path(list) %>" data-remote="true">
      <%= render partial: "lists/nav_list_name", locals: {list: list} %>
      <div class="right">
        <% if list.collaborations? %>
            <i class="material-icons bar-collaboration-icon">group</i>
        <% end %>
        <span class="bar-number-task"><%= user.num_incompleted_tasks(list)%></span>
     </div>
  </a>
</li>
