<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="10%">&nbsp;</td>
      <td width="80%" align="left" valign="top">
        <p style="font-family: Verdana, Geneva, sans-serif; color:#55C2B9; font-size:24px; width:100%;text-align:center;letter-spacing: .6px;">Welcome to Sessions</p></br>
        <font style="font-family: Verdana, Geneva, sans-serif; color:#636363; font-size:16px; font-weight:400;letter-spacing: .6px;">Hi <em><%= @user %>,</em></font><br /><br />
        <font style="font-family: Verdana, Geneva, sans-serif; color:#636363; font-size:13px; line-height:25px;letter-spacing: .6px;">
          <%="#{@sender.first_name} mentioned you in a #{(@blocker.is_blocker?) ? 'blocker' : 'task'}" %>
          <p>Task: "<%= (@blocker.is_blocker?)? @blocker.parent_task.detail : @blocker.detail  %>"</p>
          <% if (@blocker.is_blocker?) %>
              <p style="text-indent: 50px;">Blocker: "<%= @blocker.detail %>"</p>
          <% end %>
          <p></p>
        </font></td>
      <td width="10%">&nbsp;</td>
    </tr>
    <tr>
       <td width="10%">&nbsp;</td>
      <td>
         <td>
            <div class="input-field center-align">

             </div>
         </td>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
       <td width="10%">&nbsp;</td>
      <td >
         <td >&nbsp;</td>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td width="10%">&nbsp;</td>
      <td style="text-align:center;">
        <font style="font-family: Verdana, Geneva, sans-serif; color:#ffffff; font-size:14px">
          <% if @list.collaboration_users.include?(@user) %>
            <%= link_to "View #{(@blocker.is_blocker?) ? 'blocker' : 'task'}", list_url(id:(@blocker.is_blocker?)? @blocker.parent_task.list_id : @blocker.list_id,email: @user, mention_by: [@sender.id] ),:remote => true,:class => "ms-email-button" %>
          <% end %>
        </font>
      </td>
      <td>&nbsp;</td>
    </tr>
  </table>
