<div class="session" id="sessions">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-title">
          <% if  @user_sample %>
          <h1><%= @user_sample %></h1>
          <% end %>
          <p id="notice"><%= notice %></p>
          <div class="col s10 session_tag" id="<%=@session.id %>">
            <h1><%= @session.created_at.strftime("%A") %> STAND-UP</h1>
            <h6>Session <%=@session.id %>, created <%= time_ago_in_words @session.created_at %> ago </h6>
          </div>
          <div class="col s2 right-align">
            <%= image_tag "stand-up.png", :height => "72" %>
          </div>
          <div class="col s12 right-align">
            <h6><%= @session.created_at.strftime("%b")%><span> <%= @session.created_at.strftime("%d") %><span></h6>
            </div>
          </div>
          <div class="card-content">

            <% @session_users.each do |user| %>
            <div class="session">
              <h6><%= link_to  "#{user.first_name}" " " "#{user.last_name}", edit_user_path(user) %></h6>
              <ul>
                <li>
                  <table>
                    <tbody>
                      <tr>
                        <td><% @session_wips.where(user_id: user.id, session_id: @session.id).each do |wip| %>
                          <ul>
                            <li><%= render partial:'wips/form', locals: {wip: wip} %></li>
                          </ul>
                          <% end %>
                        </td>
                        <td><% @session_completeds.where(user_id: user.id, session_id: @session.id).each do |completed| %>
                          <ul>
                            <li><%= render partial:'completeds/form', locals: {completed: completed} %></li>
                          </ul>
                          <% end %>
                        </td>
                        <td><% @session_blockers.where(user_id: user.id, session_id: @session.id).each do |blocker| %>
                          <ul> 
                            <li><%= render partial:'blockers/form', locals: {blocker: blocker} %></li>
                          </ul>
                          <% end %>
                        </td>

                      </tr>
                    </tbody>
                  </table>
                </li>
              </ul>
            </div>
            <div class="divider"></div></br>
            <% end %>

          </div>
          <div class="card-action">
            <select multiple id="addUserToSession">
              <option id="selectUser" value="" disabled selected>Add users to this session</option>
              <% @add_users.each do |u| %>
              <option class="user-option" value='<%= u.id %>'><%= u.first_name %></option>
              <% end %>
            </select>
            <a class="waves-effect waves-light su-btn btn-flat" id="addUser">Add user</a></br>
            <div class="row center-align">
              <div class="col s2">
                <%= link_to 'EDIT SESSIONS', edit_session_path(@session) %>
              </div>
              <div class="col s2">
                <%= link_to 'ALL SESSIONS', sessions_path %>
              </div>
              <div class="col s8">
                <%= link_to 'SAVE', sessions_path %>
              </div>
              <div class="col s12 m12 signed_user">
                Signed in as <%= current_user.first_name.capitalize %> | <%= link_to "Logout", '/logout' %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
