
<%= form_for(@task, :remote => true,:html => {:"data-behavior" => 'modal-form'}) do |f| %>
	<div class="input-field col">
		<% if @task.is_blocker? %>
			  <%#= hidden_field_tag 'tags_emails'  %>
				<%= f.text_field :detail, id: "mentionsBlocker_#{@task.id}", class: "inputor mentions", data: {:list_id=>"#{@task.parent_task.list_id}", :user_id => "#{@task.parent_task.user_id}"}, autocomplete: "off"  %>
				<label for="mentionsBlocker_<%= @task.id%>" class="active">Edit Blocker</label>
		<% else %>
			<%= f.text_field :detail, id: "detail_#{@task.id}", class: "inputor mentions", 'data-list_id'=> @task.list_id, 'data-user_id'=>  @task.user_id %>
			<label for="detail_<%= @task.id%>" class="active">Edit Task</label>
		<% end %>
  </div>
	<div class="row">
			<div class="col s6 input-field center-align">
				 	<%= link_to 'Back', lists_path, remote: true,:class => "waves-effect waves-light btn-medium submit lowercase su-btn btn-flat col s12 white" %>
			</div>
			<div class="col s6 input-field center-align">
					<a class="waves-effect waves-light btn-medium submit lowercase su-btn btn-flat col s12 white"><%= f.submit "Update"%></a>
			</div>
	</div>
<% end %>
