
<div class="row">
<%= form_for(@task.t_blockers.build, url:task_t_blockers_path(@task), method: :post, :remote => true,:html => {:"data-behavior" => 'modal-form', :id => 'create-blocker'}) do |f| %>
	<%= hidden_field_tag 'tags_emails'  %>
	    <div class="col s12">
					<div class="input-field">
							<%= f.text_field :detail, id: "mentionsBlocker", class: "inputor mentions",data: {:list_id=> "#{@task.list_id}", :user_id=> "#{@task.user_id}"},autocomplete: "off"  %>
					    <label for="mentionsBlocker">New Blocker</label>
				  </div>
					<div class="col s6 input-field center-align">
							<%= link_to 'Back', lists_path, remote: true,:class => "waves-effect waves-light btn-medium submit lowercase su-btn btn-flat col s12 white" %>
					</div>
					<div class="col s6 input-field center-align">
							<a class="waves-effect waves-light btn-medium submit lowercase su-btn btn-flat col s12 white"><%= f.submit "Create", id: "create-blocker"%></a>
					</div>
		</div>

<% end %>
</div>
