<%# task_created = (!task.completed?) ? task.task_created : ''%>
<% task_created =  task.task_created %>
<% draggable =  (currentUser.owner?(current_list)|| (currentUser.id== task.user_id))? "draggable" : "" %>
<%= content_tag :div, id: dom_id(task), class:"row #{task_created} #{draggable} task-box", data: {"task-id"=> task.id} do%>
	<div class="col s6 task-detail">
    <%= content_tag "p", id: "#{task.id}",class: (!task.completed?) ? "" : "truncate" do %>
			 <%= "#{task.detail.force_encoding("UTF-8")}" %>
		<% end %>
		<% if (!task.is_blocker?) %> <!--  && (!task.completed?)-->
				<ul class="menu-information">
						<% if (all_task?(current_list.id) ) %>
								<li><p id="list_name"><%= "#{task.list_belonging}"%></p></li>
						<% end %>
						<li><p> created at: "<%= "#{task.created_at.strftime('%a, %e %B')} " %>."</p></li>
						<li class="ms-deadline <%= (!task.deadline.nil?) ? 'active' : '' %>"><i class="material-icons md-18 md-red">&#xE858;</i><p id="alternate"><%= (!task.deadline.nil?) ? task.deadline.strftime('%a, %e %B') : '' %></p></li>
				</ul>
		<% end%>
	</div>
	<div class="col" id="menu">
			<ul class="menu-option">
					<li>
						<% if !task.completed? %>
							 <%= link_to importanttask_task_path(id: task.id, currentList: current_list.id ), :method=> :patch, remote: true do %>
									 <i class="tooltipped material-icons md-9rem <%= (task.important?)? 'md-jellow' : 'md-grey'  %>" id="md-important" data-position="top" data-delay="50" data-tooltip="Mark as important">&#xE838;</i>
							 <% end %>
						<% end %>
					</li>
					<li>
						<% if !task.completed? %>
							 <div class="input-group">
								<input type="text" class="tooltipped deadline-datepicker hidden-datepicker" id="deadline_<%= task.id%>" data-position="top" data-delay="50" data-tooltip="Add deadline">
								<%= content_tag :i, class: "i-btn-datepicker material-icons md-9rem #{(task.deadline?)? 'md-red' : 'md-grey'}", id: "btn-datepicker_#{task.id}", data: {"href" => "#{ add_deadline_task_path(id: task.id)}", "href-delete-deadline"=> "#{ delete_deadline_task_path(id: task.id)}" } do%>
									&#xE858;
								<% end%>
							</div>
						<% end %>
					</li>
					<li>
						<% if !task.completed? %>
							 <%= link_to edit_list_task_path(list_id: task.list_id, id: task.id, currentList: current_list.id ), remote: true, data: { behavior: 'modal' } do %>
									 <i class="tooltipped material-icons md-9rem md-grey" data-position="top" data-delay="50" data-tooltip="Edit Task">mode_edit</i>
							 <% end %>
						<% end %>
					</li>
					<li>
						<% if !task.completed? %>
							 <%= content_tag :a, class: "dropdown-button", href: "#", data: {"activates" => "dropdownlist_#{task.id}", "hover" => "false"},id: "dropdown_list_#{task.id}" do%>
								 <i class="tooltipped material-icons md-9rem md-grey" data-position="top" data-delay="50" data-tooltip="Change task to another list">view_list</i>
							 <% end %>
							 <ul id="dropdownlist_<%= task.id%>" class="dropdown-list">
			 		     	<% possible_all_lists = all_possible_lists(task.user_id, currentUser.id) %>
			 					<% possible_all_lists.each do |list| %>
			 					    <% if (list.id != task.list_id) %>
			 							    <li>
													<%= link_to changelist_task_path(list_id: list.id, id: task.id, currentList: current_list), remote: true, :method=> :patch  do%>
													   <%= list.name%>
														 <i class="material-icons md-1rem md-check">check</i>
													<% end %>
												</li>
			 							<% end %>
			 					<% end %>
			 			  </ul>
						<% end %>
					</li>
					<li>
						<%# if !task.completed? %>
						<%= form_for task, url:(!task.completed?) ? complete_task_path(:id => task.id, :currentList => task.list_id) : incomplete_task_path(:id => task.id,:currentList => task.list_id), remote: true do |f| %>
							<%= check_box_tag "completed[#{task.id}]", "#{task.id}", true, :name => "task_id"  %>
							<%= label_tag "completed_#{task.id}", "", class: "tooltipped", "data-position" => "top", "data-delay" => "50", "data-tooltip" => "Mark task as #{(!task.completed?) ? "completed" : "incomplete"}"%>
							<%#= f.submit "Update" %>
						<% end %>
						<%# end %>
					</li>
					<li>
							<%= link_to task, method: :delete, data: {confirm: "Are you sure you want to delete it?"}, remote: true do %>
								 <i class="tooltipped material-icons md-9rem md-grey" data-position="top" data-delay="50" data-tooltip="Delete task">cancel</i>
							<% end %>
					</li>
					<li>
						<% if !task.completed? %>
							 <i class="material-icons md-18 md-red" data-hasblockers="<%= task.t_blockers.count!=0 %>" >warning</i>
							 <%= link_to new_task_t_blocker_path(list_id: task.list_id, task_id: task.id,user_id: task.user_id),id: "link-blocker_#{task.id}", remote: true, data: { behavior: 'modal' }  do %>
									<%= content_tag :i, class: "tooltipped material-icons md-9rem md-#{(task.t_blockers.count!=0) ? 'red' : 'grey'}", data: {"position"=> "top", "delay"=>"50","tooltip"=>"Add blocker", "hasblockers"=>"#{task.t_blockers.count!=0}"} do%>
											warning
									<% end %>
							 <% end %>
						<% end %>
				</li>
		</ul>
	</div>
	<div class="col s3 show_blockers text-align:left" id="show_blockers_<%= task.id%>">
		<% if !task.completed? %>
			<%= render(partial: "tasks/t_blocker", collection: task.t_blockers) %>
		<% end %>
	</div>
<% end%>
