<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= form_for @user ,url: updateAvatar_user_path(@user),data: { src: updateAvatar_user_path(@user) },html: {id: "form_updateAvatar"}, validate: true, remote: true, :multipart=> true do |g| %>
    <%= render :partial => 'shared/error_messages', :locals => {:object => @user} %>
    <div class="row">
        <div id="imagecrop"><img src="" /></div>
        <div class="col s12">
            <%= content_tag(:div, :class=>["valign-wrapper", "ms-upload-avatar"], :style=> "background-image: url(#{(!@user.image.blank?)? @user.image_url(:thumb) : ''})", :data=>{"url": "#{updateAvatar_user_path(@user)}", "url_crop": "#{crop_user_path(@user)}"},id: "preview") do %>
                <%= g.file_field :image %>
                <label for="user_image">
                    <div class="mousehover <%= (current_user.image.nil?)? 'hover': 'active' %> ">
                        <span class="circle-icon valign-wrapper">
                            <%= image_tag(public_path('assets/createListHover.svg')) %>
                        </span>
                    </div>
                </label>
            <% end%>
        </div>
    </div>
  <% end%>
  <div class="row">
      <div class="col s12">
        <%= form_for @user ,data: { src: user_path(@user) }, validate: true, remote: true, :multipart=> true do |f| %>
                <div class="input-field capitalize ">
                    <span class="prefix valign-wrapper">
                        <%= image_tag(public_path('assets/members.svg'), class: 'prefix') %>
                    </span>
                    <%= f.text_field :first_name, class: 'validate'%>
                    <%= f.label :first_name, id: 'icon_prefix', class: 'active' %>
                </div>
                <div class="input-field capitalize">
                    <span class="prefix valign-wrapper">
                        <%= image_tag(public_path('assets/members.svg'), class: 'prefix') %>
                    </span>
                    <%= f.text_field :last_name %>
                    <%= f.label :last_name, id: 'icon_prefix',class: 'active'  %>
                </div>
                <!-- Change Email -->
                <ul class="collapsible ms-accordion-section" data-collapsible="accordion" id="change_email">
                  <li>
                      <div class="collapsible-header">
                        <div class="ms-form-title input-field capitalize">
                          <span class="prefix valign-wrapper">
                              <%= image_tag(public_path('assets/emailBlue.svg'), class: 'prefix') %>
                          </span>
                          <%= f.text_field :email, disabled: true%>
                          <%= label_tag 'email', 'E-EMAIL', class: 'active', id: 'icon_prefix'  %>
                          <i class="material-icons right ms-open-button">keyboard_arrow_left</i>
                        </div>
                      </div>
                      <div class="collapsible-body" id="user_email_change">
                          <div class="input-field">
                            <span class="prefix valign-wrapper">
                                <%= image_tag(public_path('assets/emailBlue.svg'), class: 'prefix') %>
                            </span>
                            <%= f.email_field :new_email, placeholder: 'New email address', :autocomplete => "new-email" %>
                          </div>
                          <div class="input-field">
                            <span class="prefix valign-wrapper">
                                <%= image_tag(public_path('assets/emailBlue.svg'), class: 'prefix') %>
                            </span>
                            <%= f.email_field :new_email_confirmation, placeholder: 'Confirmation new email address', :autocomplete => :off%>
                          </div>
                          <div class="input-field">
                            <span class="prefix valign-wrapper">
                                <%= image_tag(public_path('assets/password.svg'), class: 'prefix') %>
                            </span>
                            <%= f.password_field :current_password, placeholder: 'Current password (for security reason)', :autocomplete => "new-password" %>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <!-- End of Change Email -->
                    <div class="input-field center-align form-actions">
                       <a class="waves-effect waves-light btn-large col s12 submit" id="user_settings"><%= f.submit "Save Updates", data: { disable_with: "Please wait..." }%></a>
                   </div>
               <% end %>
        </div>
  </div>
