<%= form_for(current_user, :remote => true) do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= render :partial => 'layouts/error_message', :locals => {:model => current_user} %>
  <div class="row">
    <div class="col s12">
      <div class="field">
        <%= f.hidden_field :current_step, :value => "image",:id => "current_step_avatar" %>
        <%= f.label :image %></br>
        <%= f.file_field :image %>
      </div>
      <div class="actions">
        <%= f.submit 'Update Avatar' %>
      </div>
    </div>
  </div>
<% end %>
