<%= form_for @user, url:  updateAvatar_user_path(@user),remote: true, method: :post, :html=>{id: "user-edit-avatar", multipart: true, class: "edit-avatar"} do |f| %>
    <%= f.hidden_field :current_step, :value => "avatar" %>
    <div class="valign-wrapper ms-upload-avatar left" style="<% if (!current_user.nil?) %>background-image: url('<%= current_user.image.thumb.url %>');<% end %>">
      <%= f.file_field :image %>
      <label for="user_image">
        <div class="mousehover <%= (current_user.nil?)? 'hover': 'active' %> ">
          <i class="material-icons">camera_alt</i><%= (current_user.nil?)? "Upload": "Change" %> your Avatar
        </div>
      </label>
    </div>
    <div class="valign-wrapper ms-update-avatar">
      <div>
        <label for="btn-avatar">YOUR AVATAR</label>
        <div class="input-field center-align">
          <a class="waves-effect waves-light su-btn btn-flat submit disable-links" id="btn-user-avatar-upload" data-behavior="modal">Upload</a>
        </div>
      </div>
    </div>
<% end %>

<div class="clearfix"></div>
  <div class="ms-form-title">
      <i class="material-icons prefix">person_outline</i><span>PROFILE</span>
  </div>
  <%= form_for(@user, :html=>{:id=>"user_edit_pinfo", :multipart=> true, :remote => true}) do |g| %>
    <div class="section ms-form">
        <%= g.hidden_field :current_step, :value => "personal",:id => "current_step_personal" %>
        <div class="input-field capitalize">
          <%= g.text_field :first_name %>
          <%= g.label :first_name, id: 'icon_prefix',class:'active' %>
        </div>
        <div class="input-field capitalize">
          <%= g.text_field :last_name %>
          <%= g.label :last_name, id: 'icon_prefix',class:'active' %>
        </div>
        <!-- Change Email -->
        <ul class="collapsible ms-accordion-section" data-collapsible="accordion" id="change_email">
          <li>
            <div class="collapsible-header">
              <div class="ms-form-title"><i class="material-icons prefix">email</i><span>E-MAIL</span>
                  <i class="material-icons right ms-open-button">keyboard_arrow_right</i>
              </div>
              <div class="clearfix"></div>
              <p>Your email address is <span class="ms-strong" id="current-user-email"><%= @user.email%></span></p>
            </div>
            <div class="collapsible-body" id="user_email_change">
                  <div id="errors">
                      <%= render partial: "shared/flash_messages", locals: {user: @user} %>
                  </div>
                  <%= g.hidden_field :id, :value => @user.id %>
                  <div class="input-field">
                    <%= g.email_field :new_email, placeholder: 'New Email Address ' %>
                  </div>
                  <div class="input-field">
                    <%= g.email_field :new_email_confirmation, placeholder: 'Confirmation of new Email address ' %>
                  </div>
                  <div class="input-field">
                    <%= g.password_field :current_password, placeholder: 'Current Password' %>
                  </div>
                  <div class="input-field left-align">
                      <%= link_to  "", data: { src: updateEmail_user_path(current_user) },id: "btn-user-email-change",class: "waves-effect waves-light btn-medium lowercase su-btn btn-flat submit white", remote: true do %>
                           Update Email
                      <% end %>
                 </div>
            </div>
          </li>
        </ul>
        <!-- End of Change Email -->
        <div class="input-field center-align">
          <a class="waves-effect waves-light btn-large"><%= g.submit "Settings" %></a>
       </div>
     </div>
<% end%>
