<%= form_for([@list, @invitation],:remote => true) do |f| %>
  <%= f.hidden_field :list_id, :value => @list.id %>
  <%= content_tag "div", id: "error_message_invitation" do%>
     <%= render :partial => 'shared/error_messages', :locals => {:object => @invitation} %>
  <% end %>
  <div class="row">
    <div class="col s12">
      <div class="input-field">
        <%= f.text_field :recipient_email, id:"recipient_email" %>
        <label for="recipient_email">Recipient's email address</label>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col s6 input-field center-align">
          <%= link_to 'Cancel', lists_path, class: 'waves-effect waves-light btn btn-medium lowercase su-btn btn-flat submit col s12', remote: true, data: {behavior: 'modal-form'}  %>
      </div>
      <div class="col s6 input-field center-align">
          <a class="waves-effect waves-light btn-medium submit lowercase su-btn btn-flat col s12 white disabled" id= "invitation_submit"><%= f.submit "Invite",  options = {disabled: true}%></a>
      </div>
  </div>
<% end %>
