<!-- <div class="col s12 l10 offset-l1">
   <h2 class="center-align"><%= flash[:info]? 'Invitation sent!': 'Send Invitation'%></h2>
     <%= content_tag :div, flash[:notice] , class: "danger" %>
     <% if flash[:danger] %>
        <%= content_tag :div, flash[:danger] , class: "danger" %>
     <% end %>
     <% if flash[:info] %>
          <%= content_tag :p, flash[:info] , class: "notice center-align" %>
    <% else %>
          <p class="center-align">To send an invitation, enter the email address for the person that you want to invite.</p>
          <div class="form">
            <%= render 'form' %>
          </div>
    <% end %>
</div> -->


<div class="row">
	<div class="col s12  center">
			<h2 class="modal-title center-align uppercase">Invitation</h2>
      <p class="center-align modal-text">To send an invitation, enter the email address of the person that you want to invite.</p>
  </div>
</div>
<div class="row" id="new-list">
	<div class="col s12  center">
			<div class="form">
				<%= render 'form' %>
			</div>
	</div>
</div>
