<%= content_tag :li, class: "bold #{(active)? 'active' : ''}", data: {"name"=>"#{list.name}", "nav-list-id"=>"#{list.id}"}, id: "drop_zone_#{list.id}" do %>
  <%= content_tag :a, id: "#{list.id}", href: "#{list_path(list)}",data: {"href"=> "#{list_path(list)}", "behavior"=> "nav-link"}, :remote =>"true"  do %>
      <%= yield %>
      <div class="right">
        <%= content_tag :span, class: "bar-number-task" do %>
          <% if (list.collaborations?) && (list.collaboration_users.count!=0) %>
              <i class="material-icons bar-collaboration-icon md-15">group</i>
          <% end %>
          <%= "#{user.num_incompleted_tasks(list)}" %>
        <% end %>
     </div>
  <% end %>
<% end %>
