<div class="nano">
  <div class="nano-content">
    <div id="slide-out" class="side-nav fixed">
      <div class="divider12"></div>
      <ul id="ulCreated" class="user-lists">
        <%= render partial: "lists/nav_list_name", layout: "layouts/li_navigation", locals: {list: user.all_task ,user: user, active: current_list?(user.all_task.id, current_list.id)}%>
        <% @lists.each do |list| %>
            <% if (!list.all_tasks?) %>
              <%= render partial: "lists/nav_list_name", layout: "layouts/li_navigation", locals: {list: list, user: user, active: current_list?(list.id, current_list.id)}%>
            <% end %>
        <% end %>
        <li class="li-hover"></li>
        <%= content_tag :li, class: "bold", id: "ms-add" do %>
            <%= link_to new_list_path, data: { behavior: 'modal'}, class: "waves-effect waves-cyan" do %>
              <div class="chip">
                  <i class="material-icons add-list">add</i>Add List
              </div>
            <% end %>
        <% end %>
      </ul>
      <ul id="ulCollaborationList" class="user-lists">
        <% if (!@collaboration_lists.empty?) && (user.collaboration_lists_almost_one_active?) %>
            <li class="li-hover title">
              <p>Collaboration lists</p>
            </li>
            <% @collaboration_lists.each do |collaboration_list| %>
              <% if user.active_collaborator?(collaboration_list.id) %>
                  <%= render partial: "lists/nav_list_name", layout: "layouts/li_navigation", locals: {list: collaboration_list, user: user, active: current_list?(collaboration_list.id, current_list.id)} %>
              <% end %>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
